In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.preprocessing import MinMaxScaler

In [ ]:
df = pd.read_csv(r'healthcare-dataset-stroke-data.csv')
df.drop(columns = ['id'], inplace = True)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [ ]:
df['bmi'] = df['bmi'].fillna(df['bmi'].median())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                5110 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [ ]:
df['gender'].value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [ ]:
df = df.drop(df[df.gender == 'Other'].index)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.1,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,28.1,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [ ]:
df['age'] = df['age'].astype(np.int64)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5109 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5109 non-null   object
 1   age                5109 non-null   int64
 2   hypertension       5109 non-null   int64
 3   heart_disease      5109 non-null   int64
 4   ever_married       5109 non-null   object
 5   work_type          5109 non-null   object
 6   Residence_type     5109 non-null   object
 7   avg_glucose_level  5109 non-null   float64
 8   bmi                5109 non-null   float64
 9   smoking_status     5109 non-null   object
 10  stroke             5109 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 479.0+ KB

In [ ]:
df['age'] = df['age'].astype(int)
df['age'].value_counts()

78    102
57     95
52     90
54     87
51     86
     ...
11     36
10     35
4      34
7      32
6      24
Name: age, Length: 83, dtype: int64

In [ ]:
df['hypertension'].value_counts()

0    4611
1     498
Name: hypertension, dtype: int64

In [ ]:
df['heart_disease'].value_counts()

0    4833
1     276
Name: heart_disease, dtype: int64

In [ ]:
df['ever_married'].value_counts()

Yes    3353
No     1756
Name: ever_married, dtype: int64

In [ ]:
df['work_type'].value_counts()

Private          2924
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [ ]:
df['Residence_type'].value_counts()

Urban    2596
Rural    2513
Name: Residence_type, dtype: int64

In [ ]:
df['avg_glucose_level'].value_counts()

93.88     6
91.68     5
91.85     5
83.16     5
73.00     5
         ..
94.07     1
111.93    1
94.40     1
95.57     1
85.28     1
Name: avg_glucose_level, Length: 3978, dtype: int64

In [ ]:
df['bmi'].value_counts()

28.1    230
28.7     41
28.4     38
26.7     37
27.6     37
       ...
48.7      1
49.2      1
51.0      1
49.4      1
14.9      1
Name: bmi, Length: 418, dtype: int64

In [ ]:
df['smoking_status'].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     884
smokes              789
Name: smoking_status, dtype: int64

In [ ]:
df['stroke'].value_counts()

0    4860
1     249
Name: stroke, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5109 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5109 non-null   object
 1   age                5109 non-null   int32
 2   hypertension       5109 non-null   int64
 3   heart_disease      5109 non-null   int64
 4   ever_married       5109 non-null   object
 5   work_type          5109 non-null   object
 6   Residence_type     5109 non-null   object
 7   avg_glucose_level  5109 non-null   float64
 8   bmi                5109 non-null   float64
 9   smoking_status     5109 non-null   object
 10  stroke             5109 non-null   int64
dtypes: float64(2), int32(1), int64(3), object(5)
memory usage: 459.0+ KB

In [ ]:
x = pd.get_dummies(df['gender'])
df = df.drop('gender', axis = 1)
df = df.join(x)
df

,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,Female,Male
0,67,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,0,1
1,61,0,0,Yes,Self-employed,Rural,202.21,28.1,never smoked,1,1,0
2,80,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,0,1
3,49,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,1,0
4,79,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80,1,0,Yes,Private,Urban,83.75,28.1,never smoked,0,1,0
5106,81,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,1,0
5107,35,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,1,0
5108,51,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,0,1
5109,44,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,1,0

In [ ]:
x = pd.get_dummies(df['hypertension'])
df = df.drop('hypertension', axis = 1)
df = df.join(x)
df.rename(columns={df.columns[11]: "no_hypertension", df.columns[12]: "yes_hypertension"}, inplace = True)
df

,age,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,Female,Male,no_hypertension,yes_hypertension
0,67,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,0,1,1,0
1,61,0,Yes,Self-employed,Rural,202.21,28.1,never smoked,1,1,0,1,0
2,80,1,Yes,Private,Rural,105.92,32.5,never smoked,1,0,1,1,0
3,49,0,Yes,Private,Urban,171.23,34.4,smokes,1,1,0,1,0
4,79,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80,0,Yes,Private,Urban,83.75,28.1,never smoked,0,1,0,0,1
5106,81,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,1,0,1,0
5107,35,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,1,0,1,0
5108,51,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,0,1,1,0
5109,44,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,1,0,1,0

In [ ]:
x = pd.get_dummies(df['heart_disease'])
df = df.drop('heart_disease', axis = 1)
df = df.join(x)
df.rename(columns={df.columns[12]: "no_heart_disease", df.columns[13]: "yes_heart_disease"}, inplace = True)
df

,age,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease
0,67,Yes,Private,Urban,228.69,36.6,formerly smoked,1,0,1,1,0,0,1
1,61,Yes,Self-employed,Rural,202.21,28.1,never smoked,1,1,0,1,0,1,0
2,80,Yes,Private,Rural,105.92,32.5,never smoked,1,0,1,1,0,0,1
3,49,Yes,Private,Urban,171.23,34.4,smokes,1,1,0,1,0,1,0
4,79,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80,Yes,Private,Urban,83.75,28.1,never smoked,0,1,0,0,1,1,0
5106,81,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,1,0,1,0,1,0
5107,35,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,1,0,1,0,1,0
5108,51,Yes,Private,Rural,166.29,25.6,formerly smoked,0,0,1,1,0,1,0
5109,44,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,1,0,1,0,1,0

In [ ]:
x = pd.get_dummies(df['ever_married'])
df = df.drop('ever_married', axis = 1)
df = df.join(x)
df.rename(columns={df.columns[13]: "never_married", df.columns[14]: "ever_married"}, inplace = True)
df

,age,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease,never_married,ever_married
0,67,Private,Urban,228.69,36.6,formerly smoked,1,0,1,1,0,0,1,0,1
1,61,Self-employed,Rural,202.21,28.1,never smoked,1,1,0,1,0,1,0,0,1
2,80,Private,Rural,105.92,32.5,never smoked,1,0,1,1,0,0,1,0,1
3,49,Private,Urban,171.23,34.4,smokes,1,1,0,1,0,1,0,0,1
4,79,Self-employed,Rural,174.12,24.0,never smoked,1,1,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80,Private,Urban,83.75,28.1,never smoked,0,1,0,0,1,1,0,0,1
5106,81,Self-employed,Urban,125.20,40.0,never smoked,0,1,0,1,0,1,0,0,1
5107,35,Self-employed,Rural,82.99,30.6,never smoked,0,1,0,1,0,1,0,0,1
5108,51,Private,Rural,166.29,25.6,formerly smoked,0,0,1,1,0,1,0,0,1
5109,44,Govt_job,Urban,85.28,26.2,Unknown,0,1,0,1,0,1,0,0,1

In [ ]:
x = pd.get_dummies(df['work_type'])
df = df.drop('work_type', axis = 1)
df = df.join(x)
#df.rename(columns={df.columns[14]: "never_married", df.columns[15]: "ever_married"}, inplace = True)
df

,age,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease,never_married,ever_married,Govt_job,Never_worked,Private,Self-employed,children
0,67,Urban,228.69,36.6,formerly smoked,1,0,1,1,0,0,1,0,1,0,0,1,0,0
1,61,Rural,202.21,28.1,never smoked,1,1,0,1,0,1,0,0,1,0,0,0,1,0
2,80,Rural,105.92,32.5,never smoked,1,0,1,1,0,0,1,0,1,0,0,1,0,0
3,49,Urban,171.23,34.4,smokes,1,1,0,1,0,1,0,0,1,0,0,1,0,0
4,79,Rural,174.12,24.0,never smoked,1,1,0,0,1,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80,Urban,83.75,28.1,never smoked,0,1,0,0,1,1,0,0,1,0,0,1,0,0
5106,81,Urban,125.20,40.0,never smoked,0,1,0,1,0,1,0,0,1,0,0,0,1,0
5107,35,Rural,82.99,30.6,never smoked,0,1,0,1,0,1,0,0,1,0,0,0,1,0
5108,51,Rural,166.29,25.6,formerly smoked,0,0,1,1,0,1,0,0,1,0,0,1,0,0
5109,44,Urban,85.28,26.2,Unknown,0,1,0,1,0,1,0,0,1,1,0,0,0,0

In [ ]:
x = pd.get_dummies(df['Residence_type'])
df = df.drop('Residence_type', axis = 1)
df = df.join(x)
#df.rename(columns={df.columns[14]: "never_married", df.columns[15]: "ever_married"}, inplace = True)
df

,age,avg_glucose_level,bmi,smoking_status,stroke,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease,never_married,ever_married,Govt_job,Never_worked,Private,Self-employed,children,Rural,Urban
0,67,228.69,36.6,formerly smoked,1,0,1,1,0,0,1,0,1,0,0,1,0,0,0,1
1,61,202.21,28.1,never smoked,1,1,0,1,0,1,0,0,1,0,0,0,1,0,1,0
2,80,105.92,32.5,never smoked,1,0,1,1,0,0,1,0,1,0,0,1,0,0,1,0
3,49,171.23,34.4,smokes,1,1,0,1,0,1,0,0,1,0,0,1,0,0,0,1
4,79,174.12,24.0,never smoked,1,1,0,0,1,1,0,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80,83.75,28.1,never smoked,0,1,0,0,1,1,0,0,1,0,0,1,0,0,0,1
5106,81,125.20,40.0,never smoked,0,1,0,1,0,1,0,0,1,0,0,0,1,0,0,1
5107,35,82.99,30.6,never smoked,0,1,0,1,0,1,0,0,1,0,0,0,1,0,1,0
5108,51,166.29,25.6,formerly smoked,0,0,1,1,0,1,0,0,1,0,0,1,0,0,1,0
5109,44,85.28,26.2,Unknown,0,1,0,1,0,1,0,0,1,1,0,0,0,0,0,1

In [ ]:
x = pd.get_dummies(df['smoking_status'])
df = df.drop('smoking_status', axis = 1)
df = df.join(x)
df.rename(columns={'Unknown': "Unknown_smoking"}, inplace = True)
df

,age,avg_glucose_level,bmi,stroke,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease,...,Never_worked,Private,Self-employed,children,Rural,Urban,Unknown_smoking,formerly smoked,never smoked,smokes
0,67,228.69,36.6,1,0,1,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
1,61,202.21,28.1,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,1,0
2,80,105.92,32.5,1,0,1,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
3,49,171.23,34.4,1,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
4,79,174.12,24.0,1,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80,83.75,28.1,0,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
5106,81,125.20,40.0,0,1,0,1,0,1,0,...,0,0,1,0,0,1,0,0,1,0
5107,35,82.99,30.6,0,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,1,0
5108,51,166.29,25.6,0,0,1,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
5109,44,85.28,26.2,0,1,0,1,0,1,0,...,0,0,0,0,0,1,1,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(df.drop(columns = 'stroke'), df[['stroke']], test_size = 0.3, shuffle = True, stratify = df[['stroke']], random_state = 420)

In [ ]:
xtrain.info()
xtrain

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3576 entries, 4624 to 3924
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                3576 non-null   int32
 1   avg_glucose_level  3576 non-null   float64
 2   bmi                3576 non-null   float64
 3   Female             3576 non-null   uint8
 4   Male               3576 non-null   uint8
 5   no_hypertension    3576 non-null   uint8
 6   yes_hypertension   3576 non-null   uint8
 7   no_heart_disease   3576 non-null   uint8
 8   yes_heart_disease  3576 non-null   uint8
 9   never_married      3576 non-null   uint8
 10  ever_married       3576 non-null   uint8
 11  Govt_job           3576 non-null   uint8
 12  Never_worked       3576 non-null   uint8
 13  Private            3576 non-null   uint8
 14  Self-employed      3576 non-null   uint8
 15  children           3576 non-null   uint8
 16  Rural              3576 non-null   uint8
 17  Urban              3576 non-null   uint8
 18  Unknown_smoking    3576 non-null   uint8
 19  formerly smoked    3576 non-null   uint8
 20  never smoked       3576 non-null   uint8
 21  smokes             3576 non-null   uint8
dtypes: float64(2), int32(1), uint8(19)
memory usage: 164.1 KB

,age,avg_glucose_level,bmi,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease,never_married,...,Never_worked,Private,Self-employed,children,Rural,Urban,Unknown_smoking,formerly smoked,never smoked,smokes
4624,45,78.91,34.3,1,0,1,0,1,0,0,...,0,1,0,0,0,1,1,0,0,0
1531,77,238.53,30.6,1,0,0,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0
3628,73,110.38,26.3,1,0,0,1,1,0,0,...,0,1,0,0,0,1,0,0,1,0
1556,19,82.07,29.0,0,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,1,0
2002,80,90.43,34.2,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2656,46,85.62,33.1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,1,0,0
1162,74,83.50,26.7,0,1,1,0,1,0,0,...,0,1,0,0,1,0,1,0,0,0
1783,2,65.67,16.6,0,1,1,0,1,0,1,...,0,0,0,1,1,0,1,0,0,0
79,43,143.43,45.9,0,1,1,0,1,0,0,...,0,0,1,0,0,1,1,0,0,0
3924,18,118.93,22.4,0,1,1,0,1,0,1,...,0,1,0,0,1,0,0,0,1,0

In [ ]:
ytrain.value_counts()

stroke
0         3402
1          174
dtype: int64

In [ ]:
xtest.info()
xtest

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1533 entries, 1696 to 2008
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1533 non-null   int32
 1   avg_glucose_level  1533 non-null   float64
 2   bmi                1533 non-null   float64
 3   Female             1533 non-null   uint8
 4   Male               1533 non-null   uint8
 5   no_hypertension    1533 non-null   uint8
 6   yes_hypertension   1533 non-null   uint8
 7   no_heart_disease   1533 non-null   uint8
 8   yes_heart_disease  1533 non-null   uint8
 9   never_married      1533 non-null   uint8
 10  ever_married       1533 non-null   uint8
 11  Govt_job           1533 non-null   uint8
 12  Never_worked       1533 non-null   uint8
 13  Private            1533 non-null   uint8
 14  Self-employed      1533 non-null   uint8
 15  children           1533 non-null   uint8
 16  Rural              1533 non-null   uint8
 17  Urban              1533 non-null   uint8
 18  Unknown_smoking    1533 non-null   uint8
 19  formerly smoked    1533 non-null   uint8
 20  never smoked       1533 non-null   uint8
 21  smokes             1533 non-null   uint8
dtypes: float64(2), int32(1), uint8(19)
memory usage: 70.4 KB

,age,avg_glucose_level,bmi,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease,never_married,...,Never_worked,Private,Self-employed,children,Rural,Urban,Unknown_smoking,formerly smoked,never smoked,smokes
1696,50,104.24,32.8,1,0,1,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
4896,39,81.31,34.7,1,0,1,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
2826,78,81.68,23.0,1,0,1,0,1,0,0,...,0,0,1,0,1,0,1,0,0,0
2168,55,203.81,33.9,0,1,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
3580,38,92.22,40.8,0,1,1,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,0,86.74,16.2,0,1,1,0,1,0,1,...,0,0,0,1,1,0,1,0,0,0
4979,60,105.48,28.4,1,0,1,0,1,0,1,...,0,1,0,0,0,1,1,0,0,0
4219,55,71.79,43.0,1,0,1,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
1392,2,109.56,16.4,1,0,1,0,1,0,1,...,0,0,0,1,1,0,1,0,0,0
2008,0,57.02,20.7,0,1,1,0,1,0,1,...,0,0,0,1,1,0,1,0,0,0

In [ ]:
ytest.value_counts()

stroke
0         1458
1           75
dtype: int64

In [ ]:
xtrain['Stroke'] = ytrain
xtrain.info()
xtrain.reset_index(drop = True, inplace = True)
xtrain

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3576 entries, 4624 to 3924
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                3576 non-null   int32
 1   avg_glucose_level  3576 non-null   float64
 2   bmi                3576 non-null   float64
 3   Female             3576 non-null   uint8
 4   Male               3576 non-null   uint8
 5   no_hypertension    3576 non-null   uint8
 6   yes_hypertension   3576 non-null   uint8
 7   no_heart_disease   3576 non-null   uint8
 8   yes_heart_disease  3576 non-null   uint8
 9   never_married      3576 non-null   uint8
 10  ever_married       3576 non-null   uint8
 11  Govt_job           3576 non-null   uint8
 12  Never_worked       3576 non-null   uint8
 13  Private            3576 non-null   uint8
 14  Self-employed      3576 non-null   uint8
 15  children           3576 non-null   uint8
 16  Rural              3576 non-null   uint8
 17  Urban              3576 non-null   uint8
 18  Unknown_smoking    3576 non-null   uint8
 19  formerly smoked    3576 non-null   uint8
 20  never smoked       3576 non-null   uint8
 21  smokes             3576 non-null   uint8
 22  Stroke             3576 non-null   int64
dtypes: float64(2), int32(1), int64(1), uint8(19)
memory usage: 192.1 KB

,age,avg_glucose_level,bmi,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease,never_married,...,Private,Self-employed,children,Rural,Urban,Unknown_smoking,formerly smoked,never smoked,smokes,Stroke
0,45,78.91,34.3,1,0,1,0,1,0,0,...,1,0,0,0,1,1,0,0,0,0
1,77,238.53,30.6,1,0,0,1,1,0,0,...,0,1,0,1,0,0,0,1,0,0
2,73,110.38,26.3,1,0,0,1,1,0,0,...,1,0,0,0,1,0,0,1,0,0
3,19,82.07,29.0,0,1,1,0,1,0,1,...,0,1,0,1,0,0,0,1,0,0
4,80,90.43,34.2,1,0,1,0,1,0,0,...,0,1,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3571,46,85.62,33.1,0,1,0,1,1,0,0,...,0,0,0,0,1,0,1,0,0,0
3572,74,83.50,26.7,0,1,1,0,1,0,0,...,1,0,0,1,0,1,0,0,0,0
3573,2,65.67,16.6,0,1,1,0,1,0,1,...,0,0,1,1,0,1,0,0,0,0
3574,43,143.43,45.9,0,1,1,0,1,0,0,...,0,1,0,0,1,1,0,0,0,1
3575,18,118.93,22.4,0,1,1,0,1,0,1,...,1,0,0,1,0,0,0,1,0,0

In [ ]:
xtest['Stroke'] = ytest
xtest.info()
xtest.reset_index(drop = True, inplace = True)
xtest

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1533 entries, 1696 to 2008
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1533 non-null   int32
 1   avg_glucose_level  1533 non-null   float64
 2   bmi                1533 non-null   float64
 3   Female             1533 non-null   uint8
 4   Male               1533 non-null   uint8
 5   no_hypertension    1533 non-null   uint8
 6   yes_hypertension   1533 non-null   uint8
 7   no_heart_disease   1533 non-null   uint8
 8   yes_heart_disease  1533 non-null   uint8
 9   never_married      1533 non-null   uint8
 10  ever_married       1533 non-null   uint8
 11  Govt_job           1533 non-null   uint8
 12  Never_worked       1533 non-null   uint8
 13  Private            1533 non-null   uint8
 14  Self-employed      1533 non-null   uint8
 15  children           1533 non-null   uint8
 16  Rural              1533 non-null   uint8
 17  Urban              1533 non-null   uint8
 18  Unknown_smoking    1533 non-null   uint8
 19  formerly smoked    1533 non-null   uint8
 20  never smoked       1533 non-null   uint8
 21  smokes             1533 non-null   uint8
 22  Stroke             1533 non-null   int64
dtypes: float64(2), int32(1), int64(1), uint8(19)
memory usage: 82.3 KB

,age,avg_glucose_level,bmi,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease,never_married,...,Private,Self-employed,children,Rural,Urban,Unknown_smoking,formerly smoked,never smoked,smokes,Stroke
0,50,104.24,32.8,1,0,1,0,1,0,0,...,0,0,0,0,1,1,0,0,0,0
1,39,81.31,34.7,1,0,1,0,1,0,0,...,1,0,0,1,0,0,0,1,0,0
2,78,81.68,23.0,1,0,1,0,1,0,0,...,0,1,0,1,0,1,0,0,0,0
3,55,203.81,33.9,0,1,1,0,1,0,0,...,1,0,0,0,1,0,1,0,0,0
4,38,92.22,40.8,0,1,1,0,1,0,0,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1528,0,86.74,16.2,0,1,1,0,1,0,1,...,0,0,1,1,0,1,0,0,0,0
1529,60,105.48,28.4,1,0,1,0,1,0,1,...,1,0,0,0,1,1,0,0,0,0
1530,55,71.79,43.0,1,0,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
1531,2,109.56,16.4,1,0,1,0,1,0,1,...,0,0,1,1,0,1,0,0,0,0
1532,0,57.02,20.7,0,1,1,0,1,0,1,...,0,0,1,1,0,1,0,0,0,0

In [ ]:
scaler = MinMaxScaler()
xtrain = pd.DataFrame(scaler.fit_transform(xtrain), columns = xtrain.columns)
xtest = pd.DataFrame(scaler.transform(xtest), columns = xtest.columns)

In [ ]:
xtrain.to_csv('pre_balanced_train.csv', index = False)
xtest.to_csv('test.csv', index = False)

In [ ]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=420)

In [ ]:
x = xtrain.drop(columns = ['Stroke'])
y = xtrain[['Stroke']]

In [ ]:
X_res, y_res = rus.fit_resample(x, y)

In [ ]:
xtrain2 = pd.concat([pd.DataFrame(X_res), pd.DataFrame(y_res)], axis=1)
xtrain2 = xtrain2.sample(frac = 1, random_state = 420)
xtrain2 = xtrain2.sample(frac = 1, random_state = 420)
xtrain2 = xtrain2.sample(frac = 1, random_state = 420)
xtrain2 = xtrain2.sample(frac = 1, random_state = 420)
xtrain2 = xtrain2.sample(frac = 1, random_state = 420)
xtrain2 = xtrain2.sample(frac = 1, random_state = 420)
xtrain2 = xtrain2.sample(frac = 1, random_state = 420)
xtrain2 = xtrain2.sample(frac = 1, random_state = 420)
xtrain2 = xtrain2.sample(frac = 1, random_state = 420)
xtrain2 = xtrain2.sample(frac = 1, random_state = 420)
xtrain2.reset_index(drop = True, inplace = True)
xtrain2

,age,avg_glucose_level,bmi,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease,never_married,...,Private,Self-employed,children,Rural,Urban,Unknown_smoking,formerly smoked,never smoked,smokes,Stroke
0,0.963415,0.196704,0.137087,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
1,0.658537,0.048795,0.135863,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.451220,0.133921,0.204406,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.951220,0.015927,0.170135,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
4,0.890244,0.645693,0.275398,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,0.987805,0.070077,0.189718,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
344,0.829268,0.719878,0.354957,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
345,0.768293,0.237559,0.166463,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
346,0.500000,0.270197,0.477356,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
347,0.390244,0.339765,0.195838,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

scaler = MinMaxScaler()
xtrain = pd.DataFrame(scaler.fit_transform(xtrain2), columns = xtrain2.columns)
xtest = pd.DataFrame(scaler.transform(xtest), columns = xtest.columns)

In [ ]:
xtrain2.to_csv('undersample_train.csv', index = False)

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 420)

In [ ]:
x = xtrain.drop(columns = ['Stroke'])
y = xtrain[['Stroke']]

In [ ]:
X_res, y_res = sm.fit_resample(x, y)

In [ ]:
xtrain = pd.concat([pd.DataFrame(X_res), pd.DataFrame(y_res)], axis=1)
xtrain = xtrain.sample(frac = 1, random_state = 420)
xtrain = xtrain.sample(frac = 1, random_state = 420)
xtrain = xtrain.sample(frac = 1, random_state = 420)
xtrain = xtrain.sample(frac = 1, random_state = 420)
xtrain = xtrain.sample(frac = 1, random_state = 420)
xtrain = xtrain.sample(frac = 1, random_state = 420)
xtrain = xtrain.sample(frac = 1, random_state = 420)
xtrain = xtrain.sample(frac = 1, random_state = 420)
xtrain = xtrain.sample(frac = 1, random_state = 420)
xtrain = xtrain.sample(frac = 1, random_state = 420)
xtrain.reset_index(drop = True, inplace = True)

In [ ]:
xtrain['Stroke'].value_counts()

1.0    3402
0.0    3402
Name: Stroke, dtype: int64

xtrain.to_csv('no_normalise_train.csv', index = False)
xtest.to_csv('no_normalise_test.csv', index = False)

scaler = MinMaxScaler()
xtrain = pd.DataFrame(scaler.fit_transform(xtrain), columns = xtrain.columns)
xtest = pd.DataFrame(scaler.transform(xtest), columns = xtest.columns)

In [ ]:
xtrain

,age,avg_glucose_level,bmi,Female,Male,no_hypertension,yes_hypertension,no_heart_disease,yes_heart_disease,never_married,...,Private,Self-employed,children,Rural,Urban,Unknown_smoking,formerly smoked,never smoked,smokes,Stroke
0,0.948902,0.180452,0.299632,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.000000,0.0,1.000000,0.0,1.0
1,0.848933,0.173633,0.217646,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,1.000000,0.0,1.0
2,0.951220,0.381405,0.301102,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.000000,1.0,0.000000,0.0,0.0
3,0.207317,0.040162,0.111383,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.000000,1.0,0.0
4,0.661622,0.074318,0.222457,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.063255,0.0,0.936745,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6799,0.634146,0.220894,0.386781,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.000000,1.0,0.000000,0.0,0.0
6800,0.987667,0.117554,0.237571,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.000000,0.0,1.000000,0.0,1.0
6801,0.158537,0.095374,0.162791,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.000000,0.0,0.000000,0.0,0.0
6802,0.951220,0.015927,0.170135,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,0.000000,0.0,1.0
6803,0.560976,0.114902,0.277846,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.000000,1.0,0.000000,0.0,0.0

In [ ]:
xtrain.to_csv('balanced_train.csv', index = False)